<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This Student</title>
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Sans'  type='text/css'>
    <link rel="stylesheet" href="../Content/css/styles.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src="../../Content/js/stupidTable.js"></script>
    <script src="../../Content/js/scripts.js"></script>
  </head>
  <body>
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>
    <section class="module content">
      <div class="container section-container">
        <h1>@Model["course"].GetName() <button class="slide4_open btn btn-primary">Update</button></h1>
        <div id="slide4">
          <h3 class="text-center">Update @Model["course"].GetName() </h3>
          <form action='/update/@Model["course"].GetId()' method="post">
            <div class="form-group">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" class="form-control" id="sdate" name="sdate" value='@Model["course"].GetStartDate()'>
              <label for="name">Course:</label>
              <input type="text" class="form-control" id="name" name="name" value='@Model["course"].GetName()'>
            </div>
            <div>
              <div class="form-group">
                <label for="name">Status:</label>
                <select name="active" class="form-control">
                  <script type="text/javascript"> document.write( courseActiveSelected( @Model["course"].GetActive() ) );</script>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-default jb-button-style center-block">Update This Course</button>
          </form>
        </div>
      <hr>
        <!--Student ------------------------------------------------------------------------------->
      <div class="row">
        <div class="col-md-5">
          <h2>Students</h2>
          <table class="stupid">
            <thead>
            </thead>
            <tbody>
              @foreach(var student in Model["studentList"] )
              {
                <tr>
                  <td><a href='/student/@student.GetId()'>@student.GetFName() @student.GetLName()</a></td>
                  <td>
                    <form action='/course/@Model["course"].GetId()' method = "post">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="id" value="@student.GetId()">
                      <button type="submit" class="glyphicon glyphicon-remove-circle "></button>
                    </form>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        <form class="form-inline" action='/course/@Model["course"].GetId()' method="post">
          <input type="hidden" name="_method" value="PATCH">
            <select name="id" class="form-control">
              @foreach(var student in Model["allStudents"] )
              {
                <option value="@student.GetId()">@student.GetFName() @student.GetLName()</option>
              }
            </select>
          <button type="submit" class="btn btn-primary">Add Student</button>
          </form>
      </div>
      <!-- Project ------------------------------------------------------------------------------->
      <div class="col-md-7">
        <h2>Projects</h2>
        <table class="stupid">
          <thead>
            <tr>
              <th data-sort="string">Course Name</th>
              <th data-sort="string">Course Date</th>
              <th data-sort="string">Course Date</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var project in Model["projectList"] )
            {
              <tr>
                <td>@project.GetName()</td>
                <td>@project.GetDate()</td>
                <td>@project.GetGrade()</td>
              </tr>
            }
          </tbody>
        </table >
        <br><br>
        <!-- <form class="form-inline" action='/update_courses/@Model["student"].GetId()' method="post">
            <select name="courseid" class="form-control">
              @foreach(var course in Model["courseList"] )
              {
                <option value="@course.GetId()">@course.GetName()</option>
              }
            </select>
            <select name="projectid" class="form-control">
              @foreach(var project in Model["allProjects"] )
              {
                <option value="@project.GetId()">@project.GetName()</option>
              }
            </select>
            <select name="grade" class="form-control">
              <option>Always Meets Expectations</option>
              <option>Often Meets Expectations</option>
              <option>Does Note Meet Expectations</option>
            </select>
          <button type="submit" class="btn btn-primary jb-button-style center-block">Add Project</button>
          </form> -->
      </div>
  </div>
    <div class="return">
      <h2><a href="/">Back</a></h2>
    </div>
    </section>
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>
  </body>
</html>
