<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Templates</title>
  <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css" >
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Sans'  type='text/css'>
  <link rel="stylesheet" href="../Content/css/styles.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
  <script src="../Content/js/stupidTable.js"></script>
  <script src="Content/js/scripts.js"></script>
</head>
<body>
  <section class="module parallax parallax-1">
    <div class="container">
      <h1 id="brand"></h1>
    </div>
  </section>
  <section class="module content">
    <div class="container section-container">
      <h1>Students</h1>
      <table class="stupid">
        <thead>
          <th>Picture</th>
          <th data-sort="string">First Name</th>
          <th data-sort="string">Last Name</th>
          <th data-sort="string">Email</th>
          <th data-sort="string">Start Date</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <!-- ADD STUDENTS -->
          @foreach(var student in Model["studentList"] )
          {
            <tr>
              <td ><img class="picture" src="@student.GetPicture()"></td>
              <td >@student.GetFName()</td>
              <td >@student.GetLName()</td>
              <td >@student.GetEmail()</td>
              <td >@student.GetStartDate()</td>
              <td>
                <!-- DELETE A STUDENT -->
                <form action="/delete" method = "post">
                <input type="hidden" name="id" value="@student.GetId()">
                <button type="submit" class="glyphicon glyphicon-remove-circle"></button>
              </form>
              </td>
            </tr>
          }
        </tbody>
        </table>
        <h4>Add Student </h4>
        <form class="form-inline" action="/add" method="post">
          <div class="form-group">
            <label class="sr-only" for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="picture">Picture:</label>
            <input type="url" class="form-control" id="picture" name="picture" placeholder="Picture File URL">
          </div>
          <div class="form-group">
            <label class="sr-only" for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Start Date">
          </div>
          <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
        <br>
        <!-- Delete ALL STUDENTS -->
        <button class="slide_open btn btn-primary">Delete All Students</button>
        <div id="slide">
          <h2>Are you sure you want to delete all students?</h2>
          <form  action="/delete_all" method="post">
            <button class="btn btn-primary" type="submit">Yes</button>
          </form>
          
        </div>
      </div>
  </section>


      <!-- ADD COURSE  -->
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>
    <section class="module content">
      <div class="container section-container">
        <div class="container section-container">
          <h1>Courses</h1>
          <table class="stupid">
            <thead>
              <th>Course</th>

              <th data-sort="string">Course Name</th>
              <th data-sort="string">Start Date</th>
              <th data-sort="string">Active </th>
            </thead>
            <tbody>
                <tr>
                  @foreach (var course in  Model["courseList"])
                  {
                    <tr>
                      <td>@course.GetName()</td>
                      <td>@course.GetStartDate()</td>
                      <td>@course.GetActive()</td>
                      <td>
                        <!-- DELETE A COURSE -->
                        <form action="/delete_course" method = "post">
                          <input type="hidden" name="id" value="@course.GetId()">
                        </form>
                      </td>
                    </tr>
                  }
                </tr>
            </tbody>
          </table>
          <br>
          <h4>Add Course </h4>
          <form class="form-inline" action="/add_course" method="post">
            <div class="form-group">
              <label class="sr-only" for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Course Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="startDate">Start Date:</label>
              <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Start Date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="active">Email:</label>
              <input type="text" class="form-control" id="active" name="active" placeholder="Closed =0; Active = 1; InActive = 2; Incoming = 3; " >
            </div>
            <button type="submit" class="btn btn-primary">Add new course</button>
          </form>
          <br>
          <!-- Delete ALL COURSES -->
          <button class="slide1_open btn btn-primary">Delete All Courses</button>
          <div id="slide1">
            <h2>Are you sure you want to delete all COURSES?</h2>
            <form  action="/delete_all_course" method="post">
              <button class="btn btn-primary" type="submit">Yes</button>
            </form>
          <br>
        </div>
    </section>
    <!-- ADD PROJECT  -->
  <section class="module parallax parallax-1">
    <div class="container">
      <h1 id="brand"></h1>
    </div>
  </section>
  <section class="module content">
    <div class="container section-container">
      <div class="container section-container">
        <h1>Project</h1>
        <table class="stupid">
          <thead>
            <th data-sort="string">Project</th>
            <th data-sort="date">Date</th>
            <th> </th>
          </thead>
          <tbody>
              <tr>
                @foreach (var project in  Model["projectList"])
                {
                  <tr>
                    <td >@project.GetName()</td>
                    <td>@project.GetDate()</td>
                    <td>
                      <!-- DELETE A COURSE -->
                      <form action="/delete_project" method = "post">
                        <input type="hidden" name="id" value="@project.GetId()">
                        <button type="submit" class="glyphicon glyphicon-remove-circle"></button>
                      </form>
                    </td>
                  </tr>
                }
              </tr>
          </tbody>
        </table>
        <br>
        <h4>Add Course </h4>
        <form class="form-inline" action="/add_project" method="post">
          <div class="form-group">
            <label class="sr-only" for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Project Name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="startDate">Date:</label>
            <input type="date" class="form-control" id="startDate" name="date" placeholder="Date">
          </div>
          <button class="btn btn-primary" type="submit">Add</button>
        </form>
        <!-- Delete ALL COURSES -->
        <button class="slide2_open btn btn-primary">Delete All Projects</button>
        <div id="slide2">
          <h2>Are you sure you want to delete all PROJECTS?</h2>
          <form  action="/delete_all_project" method="post">
            <button class="btn btn-primary" type="submit">Yes</button>
          </form>
        <br>
      </div>
  </section>

</body>
</html>
