<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This Student</title>
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Sans'  type='text/css'>
    <link rel="stylesheet" href="../Content/css/styles.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src="../../Content/js/stupidTable.js"></script>
    <script src="../../Content/js/scripts.js"></script>
  </head>
  <body>
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>
      <div class="container section-container">
        <div class="jb-float-left">
          <img class="pictureOnStudentPage"src="@Model["student"].GetPicture()" />
        </div>
        <div class="jbtitle center-block">
            @Model["student"].GetFName() @Model["student"].GetLName()
            <button class="slide4_open btn btn-primary">Update</button>
            <div id="slide4">
              <h3 class="text-center">Update @Model["student"].GetFName() @Model["student"].GetLName() </h3>
              <form action='/update/@Model["student"].GetId()' method="post">
                <div class="form-group">
                  <label for="fname">First Name:</label>
                  <input type="text" class="form-control" id="fname" name="fname" value='@Model["student"].GetFName()'>
                </div>
                <div class="form-group">
                  <label for="lname">Last Name:</label>
                  <input type="text" class="form-control" id="lname" name="lname" value='@Model["student"].GetLName()'>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" value='@Model["student"].GetEmail()'>
                </div>
                <div class="form-group">
                  <label for="picture">Picture file name:</label>
                  <input type="url" class="form-control" id="picture" name="picture" value='@Model["student"].GetPicture()'>
                </div>
                  <input type="hidden" class="form-control" id="startDate" name="startDate" value='@Model["student"].GetStartDate()'>
                <button type="submit" class="btn btn-primary center-block">Update</button>
              </form>
            </div>
        </div>
        <hr>
        <div class="meduim-spacer"> </div>
        <div class="row">
          <div class="col-md-5">
            <h2>Courses</h2>
            <table class="stupid">
              <thead>
                <tr>
                  <th data-sort="string">Course Name</th>
                  <th data-sort="string">Course Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              @foreach(var course in Model["courseList"] )
              {
                <tr>
                  <td><a href='/course/@course.GetId()'>@course.GetName() </a></td>
                  <td>
                    <script type="text/javascript">
                    document.write(courseActive( @course.GetActive() ));
                    </script></td>
                  <td>
                    <form action='/student/@Model["student"].GetId()' method="post">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="id" value="@course.GetId()">
                      <button type="submit" class="btn btn-primary">Delete</button>
                  </form>
                  </td>
                </tr>
              }
              </tbody>
            </table ><br><br>
            <form class="form-inline" action='/student/@Model["student"].GetId()' method="post">
              <input type="hidden" name="_method" value="PATCH">
                <select name="id" class="form-control">
                  @foreach(var acourse in Model["allCourses"] )
                  {
                    <option value="@acourse.GetId()">@acourse.GetName()</option>
                  }
                </select>
              <button type="submit" class="btn btn-primary">Add Course</button>
              </form>
              <br><br>
            </div>

            <div class="col-md-7">
              <h2>Projects</h2>
              <table class="stupid">
                <thead>
                  <tr>
                    <th data-sort="string">Course Name</th>
                    <th data-sort="string">Course Date</th>
                    <th data-sort="string">Course Date</th>
                  </tr>
                </thead>
                <tbody>
                  @foreach(var project in Model["projectList"] )
                  {
                    <tr>
                      <td>@project.GetName()</td>
                      <td>@project.GetDate()</td>
                      <td>@project.GetGrade()</td>
                    </tr>
                  }
                </tbody>
              </table >
              <br><br>
              <form class="form-inline" action='/update_courses/@Model["student"].GetId()' method="post">
                  <select name="courseid" class="form-control">
                    @foreach(var course in Model["courseList"] )
                    {
                      <option value="@course.GetId()">@course.GetName()</option>
                    }
                  </select>
                  <select name="projectid" class="form-control">
                    @foreach(var project in Model["allProjects"] )
                    {
                      <option value="@project.GetId()">@project.GetName()</option>
                    }
                  </select>
                  <select name="grade" class="form-control" >
                    <option>Always Meets Expectations</option>
                    <option>Often Meets Expectations</option>
                    <option>Does Note Meet Expectations</option>
                  </select>
                <button type="submit" class="btn btn-primary jb-button-style center-block">Add Project</button>
                </form>
            </div>
          </div>
          <div class="return">
            <h2><a href="/"> Back</a></h2>
          </div>
        </div>
      </div>
      </section>
      <section class="module parallax parallax-1">
        <div class="container">
          <h1 id="brand"></h1>
        </div>
      </section>
      <section class="module parallax parallax-1">
        <div class="container">
          <h1 id="brand"></h1>
        </div>
      </section>
      <section class="module parallax parallax-1">
        <div class="container">
          <h1 id="brand"></h1>
        </div>
      </section>
  </body>
</html>
